.pizzaImage
{
    width: 200px;
    height: auto;
    float: left;
    padding-right: 50px;
}
.table, .table-striped tbody tr td
{
    vertical-align:middle;
}
#buttonInTheMiddle
{
    float:right;
}

#sideOrderPickNumber, #doughPickNumber 
{
    height:30px;
    width: 50px;
    margin-left: 20px;
    display: block;
}
#divWidth200px
{
    display:inline-block;
    width:200px;
}

.floatingRight
{
    position: fixed;
    right: 0px;
    width: 100px;
    height: 80px;
}

.radioBoxDough
{
    max-width: 100px;
    display:block;
    margin-top:0px;
}